.div{
    margin: 20px;
    border-top: solid 5px rgb(84, 245, 78);
    border-left: solid 5px rgb(138,43,226);
    border-bottom: solid 5px rgb(0,0,255);
    border-right: solid 5px rgb(0,255,255);
    padding: 0px;
    height: 300px;
    width: 740px;
}
[class*="p"]{
    border: dotted 3px rgb(150,39,39);
    padding: 5px;
    margin: 10px;
    height: 50px;
    width: 690px;
    text-align: center;
    vertical-align: middle;
}