body{
    font-family: Arial;
}
header{
    height: 35px; 
    /* background-color: rgba(255,255,255,0.3); */
    top: 0;
    left: 0;

    background-color: purple;
    border:solid 1px black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
}
#menu li, #menu ul{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: block; */
}
#menu li a{
    /* width: 100px; */
    color: white;
    list-style: none;
    text-decoration: none;
    margin: 10px;
    
}
